.top-head {
  border-left: 5px solid;
  border-image: linear-gradient(red, tomato);
  border-image-slice: 1;
  padding-left: 10px;
  font-family: "Ubuntu", sans-serif;
  font-size: 50px;
}
.light-red {
  color: #ff5349;
}
.all-button {
  text-decoration: none;
  background-image: linear-gradient(red, tomato);
  color: white;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 5px;
}
.same-row {
  width: 50%;
  padding-left: 10%;
  padding-right: 0%;
}
.same-row img {
  width: 50%;
}
.same-row p {
  font-size: 18px;
}
.flex {
  display: flex;
  margin-bottom: 5%;
}
